<div id="sidebar-wrapper">
<p align="center">
<br />
<img src="http://www.gravatar.com/avatar/c40c74b23b32fadea4d1f9f2efabc777?s=150" class="img-circle" />
	<h3 class="title" align="center">
        <a href="/">Jaiden Gerig</a>
    </h3>
	<p align = "center">
	<%= link_to '<i class="fa fa-github fa-lg"></i>'.html_safe, 'https://github.com/jaideng123'%>  &nbsp;
	<%= link_to '<i class="fa fa-twitter fa-lg"></i>'.html_safe, 'https://twitter.com/jaideng123'%> &nbsp;
	<%=mail_to "jaidengerig@gmail.com", '<i class="fa fa-envelope fa-lg"></i>'.html_safe%>
	</p>
	
</p>
</div>
<div id="wrapper">
<div id="page-content-wrapper">
 <div class="container-fluid">
 <h2>Resume</h2>
<iframe src="https://docs.google.com/viewer?srcid=0Bz8zxihkODz-Q0lxbHBJSTdwd2c&pid=explorer&efh=false&a=v&chrome=false&embedded=true" style="position: absolute; height: 90%; max-width: 90%; width: 800px;"></iframe>
    </div>
</div>
</div>